%section#sponsors
  .spn-container
    .spn-image
    .spn-sponsors
      %p.spn-description
        = t('home.sponsors.description')
      .spn-logo
        logos here
    .spn-support
      %h2.title
        = t('home.sponsors.support.title')
      = button_to t('home.sponsors.support.button'), {}, { class: 'btn-tc btn-support' }


