// Colors
$main-color: #2b3e50;
$secondary-color: #1abc9c;
$main-light-color: #4a6076;
$background-color: #f3f3f3;

$aqua: #61d5c7;
$black: #000000;
$gray: #606c71;
$lightblue: #54d2e2;
$lightgray: #f6f5f7;
$white: #ffffff;
