#header {
  height: 759px;
  width: 100%;
  padding-top: 39px;
  font-size: 18px;
  background-color: #9013FE;
  background: linear-gradient(145.31deg, #3625AF 0%, #AD60D0 100%);

  .header-logo {
    vertical-align: center;
    display: block;
    margin: auto;
  }

  .header-container {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

}
