.btn-tc {
  height: 45px;
  width: 251px;
  border-radius: 7px;
  color: $white;
  background-color: $aqua;
  font-weight: bold;
  text-align: center;
  border: none;
  box-shadow: 0 2px 11px 0 rgba(97,213,199,0.53);
  text-transform: uppercase;
}
